doctype html
html(lang='en')
  include head
  body
    include nav
    .container
      .row
        .col-sm-12
          .btn-group
            a.btn.btn-default(href='/api/v1/projectcsv') Export CSV
            a.btn.btn-default(href='/api/v1/projectmap') Export GeoJSON
          table.table
            thead
              tr
                th='Start Date'
                th='End Date'
                th='Utility'
                th='Name'
                th='Description'
                th='Street Cut'
                th='Street'
              tbody
                for item in results
                  tr
                    td= item.startdate
                      a(href='/project/' + item.projectid) ${startdate}
                    td= item.enddate
                      a(href='/project/' + item.projectid) ${enddate}
                    td= item.utility
                      a(href='/project/' + item.projectid) ${utility}
                    td= item.name
                      a(href='/project/' + item.projectid) ${name}
                    td= item.description
                      a(href='/project/' + item.projectid) ${description}
                    td= item.streetcut
                      a(href='/project/' + item.projectid) ${streetcut}
    // Placed at the end of the document so the pages load faster
    script(src='js/tabletop.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&libraries=places')
    script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js') 