doctype html
html(lang='en')
  include head
  body
    include nav
    .container
      .row
        .col-sm-8.legend
          h3= Utility
          h5= description
          ul
            li= datecreated
            li= contact
            li= email
            li= phone
            li= name
            li= impacts
            li= startdate
            li= enddate
            li= type
            li= streetcut
            li= daysinrow
            li= street
            li= intersection1
            li= intersection2
        .col-sm-4
          p
            Map Goes Here
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&libraries=places')
    script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js')
    script(src='js/submission-map.js')    