doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title Utility Master Plan Submittal - Lexington, KY
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='/css/icons/css/font-awesome.min.css')
    //if lt IE 9
      script(src='/js/html5shiv.min.js')
      script(src='/js/respond.min.js')
  body
    include nav
    .container
      .row
        .col-sm-12
          h1= name
          h3= utility
      .row
        .col-sm-6
          p= description
          if streetcut == "Yes"
            p.btn.btn-danger Street Cut
          else
            p.btn.btn-success No Street Cut
          h3 Project Information
          ul.no-bullets
            li Date Created: #{datecreated}
            li Start Date: #{startdate}
            li End Date: #{enddate}
            li Type: #{type}
            li Street Cut?: #{streetcut}
            li Days in ROW: #{daysinrow}
            li Impacts: #{impacts}
          h3 Contact Information
          ul.no-bullets
            li Contact: #{contact}
            li Email: #{email}
            li Phone: #{phone}
        .col-sm-6
          #map
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&libraries=places')
    script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js')
    script(src='/js/project-map.js')    