doctype html
html(lang='en')
  include head
  body
    .container
      .col-sm-12.text-center
        h1 Thanks for submitting your project!
      .col-sm-6.col-sm-offset-3 
        p <strong>Utility:</strong> #{Utility}
        p <strong>Contact:</strong> #{Contact}
        p <strong>Email:</strong> #{Email}  
        p <strong>Phone:</strong> #{Phone}
        p <strong>Name:</strong> #{Name}
        p <strong>Description:</strong> #{Description}
        p <strong>Start Date:</strong> #{StartDate}
        p <strong>End Date:</strong> #{EndDate}
        p <strong>Type:</strong> #{Type}
        p <strong>Street Cut?:</strong> #{StreetCut}
        p <strong>Days in ROW?:</strong> #{DaysinROW}
        p <strong>Street:</strong> #{Street}
        p <strong>1st Intersection:</strong> #{Intersection1}
        p <strong>2nd Intersection:</strong> #{Intersection2}
      .row
        .col-sm-3.col-sm-offset-3.text-center
            a.btn.btn-success(href= OriginURL) Submit Another Project
        .col-sm-3.text-center
            a.btn.btn-primary(href='/') Go to the Homepage
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
