doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title Utility Master Plan Submittal - Lexington, KY
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    // Custom styles for this template
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/custom.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
  body
    .container
      .col-sm-12.text-center
        h1 Thanks for submitting your project!
      .col-sm-6.col-sm-offset-3 
        p <strong>Utility:</strong> #{Utility}
        p <strong>Submitted By:</strong> #{Contact}
        p <strong>Contact:</strong> #{Contact}
        p <strong>Email:</strong> #{Email}  
        p <strong>Phone:</strong> #{Phone}
        p <strong>Name:</strong> #{Name}
        p <strong>Description:</strong> #{Description}
        p <strong>Start Date:</strong> #{StartDate}
        p <strong>End Date:</strong> #{EndDate}
        p <strong>Type:</strong> #{Type}
        p <strong>Street Cut?:</strong> #{StreetCut}
        p <strong>Days in ROW?:</strong> #{DaysinROW}
        p <strong>Street:</strong> #{Street}
        p <strong>1st Intersection:</strong> #{Intersection1}
        p <strong>2nd Intersection:</strong> #{Intersection2}
      .col-sm-12.text-center
        a.btn.btn-success(href= OriginURL) Submit Another Project
        a.btn.btn-primary(href='/') Go to the Homepage
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
    script(src='js/map.js')